* {
  box-sizing: border-box;
  margin: 0;
}

.flex-container {
  display: flex;
  background-color: tomato;
  flex-flow: row wrap;
  justify-content: center
}

.flex-items {
  color: white;
}

.margin-x {
  margin: 0 10px;
}

.padding-10 {
  padding: 10px;
}