* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: #F55A5A;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-center {
  justify-content: center;
}

.text-white {
  color: white;
}

.text-mute {
  color: rgba(0, 0, 0, 0.6);
}

.margin-x-10 {
  margin: 0 10px;
}
.margin-x-5 {
  margin: 0 5px;
}
.margin-10 {
  margin: 10px;
}

.padding-10 {
  padding: 10px;
}

.container {
  /* background-color: turquoise; */
  color: black;
}

.width-400 {
  width: 400px;
}

.text-bold {
  font-weight: bold;
}

.text-justify{
  text-align: justify;
  text-justify: inter-word;
  font-size: 10px;
}

.radius-10px {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}